.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 50px;
}

.footer ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer li a{
    color: white !important;
}
