.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    margin: 30px;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-inline-start: 0;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    color: white !important;
}