.presentation {
    text-align: left;
    margin-left: 10%;
}

.presentation h1 {
    font-size: 45px;
}

.presentation h4 {
    font-size: 25px;
}

.presentation p:last-of-type {
    margin-bottom: 30px;
}