.projects {
    text-align: justify;
}

.projects h1 {
    font-size: 45px;
    text-align: center;
}

.projects .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}