.btn {
    background-color: #74fac0;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    color: #74fac0;
    background-color: transparent;
    border: 2px solid #74fac0;
    transition-duration: 0.3s;
}